#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-item {
  margin-right: 2rem;
}

.nav-item a {
  font-size: 1.5rem;
}

#websiteName {
  font-size: 26px;
  font-family: "Gill Sans";
  letter-spacing: 0.2em;
}

#homeTitle {
  position: absolute;
  top: 50%;
}
