@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Hammersmith+One&family=Philosopher:ital@1&display=swap");

/*landing-page section*/
#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-item {
  margin-right: 2rem;
}

.nav-item a {
  font-size: 1.5rem;
}

#websiteName {
  font-size: 26px;
  font-family: "Gill Sans";
  letter-spacing: 0.2em;
}

#homeTitle {
  position: absolute;
  top: 50%;
}

#homeTitle h1 {
  font-family: "Hammersmith One", sans-serif;
  letter-spacing: 0.2em;
  text-shadow: 0.1rem 0.1rem 0.2rem #333;
}

#homeTitle h2 {
  font-family: "Hammersmith One", sans-serif;
  letter-spacing: 0.15em;
  text-shadow: 0.1rem 0.1rem 0.1rem rgb(155, 121, 235);
  margin-bottom: 0.5em;
}

#homeTitle h3 {
  font-family: fantasy;
  font-style: italic;
}

#homeTitle button {
  padding: 0.5em 1.5em;
  margin-top: 2em;
}
/*end of landing page section*/
